{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <h2>Liste des catégories</h2>
        <div class="container text-center">
            {% for category in categories %}
                <a href={{ path('index_by_category', {id: category.id}) }}>
                    <span class="badge bg-dark ml-4 me-4">{{ category.name }}</span>
                </a>
            {% endfor %}
        </div>
        {% include("shared/_post.html.twig") %}
    </div>
{% endblock %}
