{% extends 'base.html.twig' %}

{% block title %}
    Admin
{% endblock %}

{% block body %}
    <div class="wrapper w-100">
        {% include("shared/_sidebar.html.twig") %}

        <div class="container">
            <h1 class="text-dark text-center p-5">Espace administrateur</h1>

            {% include("shared/_post_form.html.twig") %}

        </div>
    </div>

{% endblock %}